{{ define "layout" }}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>gropple</title>
    <script src="/static/alpine.min.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">
    <style>

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

        .button-small {
            font-size: 85%;
        }

        .pure-g > div {
          box-sizing: border-box;
        }
        .l-box {
          padding: 2em;
         }
        pre {
          font-size: 60%;
          height: 100px;
          overflow:auto;
        }
        .filelist {
          font-size: 60%;
        }
        footer {
          padding-top: 50px;
          font-size: 30%;
        }
        .int-link {
          text-decoration: none;
          hover { color: red; }
        }
        .state-failed {
          color: red;
        }
        .state-downloading {
          color: blue;
        }
        .state-moved {
          color: green;
        }
        .state-complete {
          color: green;
        }
        .gropple-config {
          font-size: 80%;
        }
        .gropple-config input.input-long {
          width: 27em;
        }
        .gropple-config button.button-del {
          background: rgb(202, 60, 60);
        }
        .gropple-config button.button-add {
          background: rgb(60, 200, 60);
        }
        .gropple-config .pure-form-message {
          padding-top: .5em;
          padding-bottom: 1.5em;
        }
        .error {
          color: red;
          font-size: 120%;
        }
        .success {
          color: green;
        }

        [x-cloak] { display: none !important; }

    </style>
</head>
<body style="margin:4; padding:4">

    {{ template "content" . }}
    <footer>
    Homepage: <a href="https://github.com/tardisx/gropple">https://github.com/tardisx/gropple</a><br>
    Version: {{ .Version.CurrentVersion }}
    </footer>
</body>
    {{ template "js" . }}
</html>
{{ end }}
