    <div class="pure-menu pure-menu-horizontal" style="height: 2em;">
        <a href="#" class="pure-menu-heading pure-menu-link">gropple</a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item">
                <a href="/" class="pure-menu-link">Home</a>
            </li>
            <li class="pure-menu-item">
                <a href="/config" class="pure-menu-link">Config</a>
            </li>
            <li class="pure-menu-item">
                <a href="/bulk" class="pure-menu-link">Bulk</a>
            </li>
            <li class="pure-menu-item">
                <a href="https://github.com/tardisx/gropple" class="pure-menu-link">Github</a>
            </li>
        </ul>
    </div>
