{{ define "content" }}
<div>
<p>
    Drag this bookmarklet: <a href="{{ .BookmarkletURL }}">Gropple</a> to your bookmark bar, and click it
    on any page you want to grab the video from.
</p>
</div>

<div>
    <table class="pure-table">
        <thead>
            <tr>
                <th>id</th><th>filename</th><th>url</th><th>state</th><th>percent</th><th>eta</th><th>finished</th>
            </tr>
        </thead>
        <tbody>
            {{ range $k, $v := .Downloads }}
            <tr>
                <td>{{ $v.Id }}</td>
                <td>{{ range $_, $f := $v.Files }}{{ $f }}<br>{{ end }}</td>
                <td><a href="{{ $v.Url }}">link</a></td>
                <td>{{ $v.State }}</td>
                <td>{{ $v.Percent }}</td>
                <td>{{ $v.Eta }}</td>
                <td>{{ $v.Finished }}</td>
            </tr>
            {{ end }}
        </tbody>  
    </table>
</div>
{{ end }}

{{ define "js" }}
{{ end }}