<html>
    <head>
        <title>index</title>
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
    </head>
    <body>
        <p>
            Drag this bookmarklet: <a href="{{ .BookmarkletURL }}">Gropple</a> to your bookmark bar, and click it
            on any page you want to grab the video from.
        </p>
        {{ range $k, $v := .Downloads }}
        <div>
            <h4>{{ $v.Url }}</h4>
            <table>
                <tr><th>state</th><td>{{ $v.State }}</td></tr>
                <tr><th>percent</th><td>{{ $v.Percent }}</td></tr>
                <tr><th>files</th><td>{{ range $i, $f := $v.Files }}{{ $f }}<br>{{ end }}</td></tr>
                <tr><th>exit code</th><td>{{ $v.ExitCode }}</td></tr>

            </table>
            <pre>
                {{ range $i, $l := $v.Log }}
                line: {{ $l }}
                {{- end -}}
            </pre>
        </div>
        {{ end }}
               
    </body>