{{ define "layout" }}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>gropple</title>
    <script src="/static/alpine.min.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/grids-responsive-min.css">
    <style>
        .pure-g > div {
          box-sizing: border-box;
        }
        .l-box {
          padding: 2em;
         }
        pre {
          font-size: 60%;
          height: 100px;
          overflow:auto;
        }
        footer {
          padding-top: 50px;
          font-size: 30%;
        }
        .int-link {
          text-decoration: none;
          hover { color: red; }
        }
        .state-failed {
          color: red;
        }
        .state-downloading {
          color: blue;
        }
        .state-complete {
          color: green;
        }
        .gropple-config {
          font-size: 80%;
        }
        .gropple-config input.input-long {
          width: 27em;
        }
        .gropple-config button {
          border-radius: 12px;
        }
        .gropple-config button.button-del {
          background: rgb(202, 60, 60);
        }
        .gropple-config button.button-add {
          background: rgb(60, 200, 60);
        }
        .gropple-config .pure-form-message {
          padding-top: .5em;
          padding-bottom: 1.5em;
        }
        .error {
          color: red;
        }
        .success {
          color: green;
        }

        [x-cloak] { display: none !important; }

    </style>
</head>
<body style="margin:4; padding:4">

    {{ template "content" . }}
    <footer>
    Homepage: <a href="https://github.com/tardisx/gropple">https://github.com/tardisx/gropple</a>
    </footer>
</body>
    {{ template "js" . }}
</html>
{{ end }}
